body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
button,
textarea,
p,
th,
td {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  color: #fff;
  text-decoration: none;
  outline: 0;
}
/***********************动画定义*************************/
.a-driving {
  -webkit-animation: driving 3s linear forwards;
          animation: driving 3s linear forwards;
}
.a-enlarge-fireworks {
  -webkit-animation: enlarge-fireworks 6s ease-in-out both infinite;
          animation: enlarge-fireworks 6s ease-in-out both infinite;
}
.a-drop {
  -webkit-animation: drop 1.5s ease 1s forwards;
          animation: drop 1.5s ease 1s forwards;
}
.a-float-arrow {
  -webkit-animation: float-arrow 1.5s 1.5s linear infinite;
          animation: float-arrow 1.5s 1.5s linear infinite;
}
.a-float-updown {
  -webkit-animation: float-updown 3s 0.2s linear infinite;
          animation: float-updown 3s 0.2s linear infinite;
}
.a-float-lr {
  -webkit-animation: float-lr 4s 0.2s linear infinite;
          animation: float-lr 4s 0.2s linear infinite;
}
.a-fadeinB-boy {
  -webkit-animation: fadeinB 500ms ease-in-out 500ms backwards;
          animation: fadeinB 500ms ease-in-out 500ms backwards;
}
.a-fadeinT-indexTitle {
  -webkit-animation: fadeinT 2s ease-in-out infinite;
          animation: fadeinT 2s ease-in-out infinite;
}
.a-fadeinB-school {
  -webkit-animation: fadeinB 500ms ease-out backwards;
          animation: fadeinB 500ms ease-out backwards;
}
.a-ripple {
  -webkit-animation: breath 3s linear infinite;
          animation: breath 3s linear infinite;
}
@-webkit-keyframes breath {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes breath {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0.8;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.a-enlarge {
  -webkit-animation: enlarge 3s linear infinite;
          animation: enlarge 3s linear infinite;
}
@-webkit-keyframes enlarge {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes enlarge {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*下掉*/
@-webkit-keyframes drop {
  0% {
    top: -8vh;
  }
  100% {
    top: 90%;
  }
}
@keyframes drop {
  0% {
    top: -8vh;
  }
  100% {
    top: 90%;
  }
}
/* 弹入 */
@-webkit-keyframes bouncein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bouncein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*从上淡入*/
@-webkit-keyframes fadeinT {
  0% {
    -webkit-filter: drop-shadow(2px 1px #21c9c3) drop-shadow(-1px -2px #dbab21);
            filter: drop-shadow(2px 1px #21c9c3) drop-shadow(-1px -2px #dbab21);
  }
  5% {
    -webkit-filter: drop-shadow(-4px -1px #21c9c3) drop-shadow(3px 1px #dbab21);
            filter: drop-shadow(-4px -1px #21c9c3) drop-shadow(3px 1px #dbab21);
  }
  95% {
    -webkit-filter: drop-shadow(-4px -1px #21c9c3) drop-shadow(3px 1px #dbab21);
            filter: drop-shadow(-4px -1px #21c9c3) drop-shadow(3px 1px #dbab21);
  }
  100% {
    -webkit-filter: drop-shadow(2px 1px #21c9c3) drop-shadow(-1px -2px #dbab21);
            filter: drop-shadow(2px 1px #21c9c3) drop-shadow(-1px -2px #dbab21);
  }
}
@keyframes fadeinT {
  0% {
    -webkit-filter: drop-shadow(2px 1px #21c9c3) drop-shadow(-1px -2px #dbab21);
            filter: drop-shadow(2px 1px #21c9c3) drop-shadow(-1px -2px #dbab21);
  }
  5% {
    -webkit-filter: drop-shadow(-4px -1px #21c9c3) drop-shadow(3px 1px #dbab21);
            filter: drop-shadow(-4px -1px #21c9c3) drop-shadow(3px 1px #dbab21);
  }
  95% {
    -webkit-filter: drop-shadow(-4px -1px #21c9c3) drop-shadow(3px 1px #dbab21);
            filter: drop-shadow(-4px -1px #21c9c3) drop-shadow(3px 1px #dbab21);
  }
  100% {
    -webkit-filter: drop-shadow(2px 1px #21c9c3) drop-shadow(-1px -2px #dbab21);
            filter: drop-shadow(2px 1px #21c9c3) drop-shadow(-1px -2px #dbab21);
  }
}
/* 空降 */
@-webkit-keyframes bounceinT {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounceinT {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* 上下摆动*/
@-webkit-keyframes updown {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 4px, 0);
            transform: translate3d(0, 4px, 0);
  }
}
@keyframes updown {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 4px, 0);
            transform: translate3d(0, 4px, 0);
  }
}
/*放大*/
@-webkit-keyframes enlarge-fireworks {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0) scale(0.4);
            transform: translateY(0) scale(0.4);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(-100px) scale(1.2);
            transform: translateY(-100px) scale(1.2);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(-90px) scale(1.2);
            transform: translateY(-90px) scale(1.2);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0) scale(0);
            transform: translateY(0) scale(0);
  }
}
@keyframes enlarge-fireworks {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0) scale(0.4);
            transform: translateY(0) scale(0.4);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(-100px) scale(1.2);
            transform: translateY(-100px) scale(1.2);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(-90px) scale(1.2);
            transform: translateY(-90px) scale(1.2);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0) scale(0);
            transform: translateY(0) scale(0);
  }
}
/*单车行驶*/
@-webkit-keyframes driving {
  0% {
    left: -25%;
  }
  100% {
    left: 25%;
  }
}
@keyframes driving {
  0% {
    left: -25%;
  }
  100% {
    left: 25%;
  }
}
/*从底部淡入*/
@-webkit-keyframes fadeinB {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeinB {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*上下浮动*/
@-webkit-keyframes float-updown {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, -3px, 0);
            transform: translate3d(0, -3px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 3px, 0);
            transform: translate3d(0, 3px, 0);
  }
}
@keyframes float-updown {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, -3px, 0);
            transform: translate3d(0, -3px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 3px, 0);
            transform: translate3d(0, 3px, 0);
  }
}
/*左右浮动*/
@-webkit-keyframes float-lr {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}
@keyframes float-lr {
  0% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}
/*上下浮动的主导向箭头*/
@-webkit-keyframes float-arrow {
  0% {
    top: 89%;
  }
  100% {
    top: 90%;
  }
}
@keyframes float-arrow {
  0% {
    top: 89%;
  }
  100% {
    top: 90%;
  }
}
/*飞行*/
@-webkit-keyframes flying {
  0% {
    -webkit-transform: translate3d(-10vw, 0, 0);
            transform: translate3d(-10vw, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50vw, 0, 0);
            transform: translate3d(50vw, 0, 0);
  }
}
@keyframes flying {
  0% {
    -webkit-transform: translate3d(-10vw, 0, 0);
            transform: translate3d(-10vw, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(50vw, 0, 0);
            transform: translate3d(50vw, 0, 0);
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/************************动画完************************/
html {
  height: 100%;
}
body {
  height: 100%;
  position: relative;
  font-family: "Helvetica", "Arial";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#SchoolRecruit {
  position: relative;
  height: 100%;
  /*首屏*/
  /*集团信息*/
  /*行业地位*/
  /*薪酬福利*/
  /*招聘职位*/
  /*联系我们*/
}
#SchoolRecruit .home-page,
#SchoolRecruit .group-info,
#SchoolRecruit .industry-status,
#SchoolRecruit .pay-welfare,
#SchoolRecruit .recruit-job,
#SchoolRecruit .contact-us {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #d7ebc8;
}
#SchoolRecruit #GroupSlide,
#SchoolRecruit #WelfareSlide,
#SchoolRecruit .jobs {
  height: 100%;
}
#SchoolRecruit .home-page {
  background-image: url("../img/bg-index.jpg");
  background-size: 100%;
  background-color: #40b69d;
}
#SchoolRecruit .group-info {
  background-image: url("../img/bg-2.jpg");
}
#SchoolRecruit .industry-status {
  background-image: url("../img/bg-2.jpg");
}
#SchoolRecruit .pay-welfare {
  background-image: url("../img/bg-4.jpg");
}
#SchoolRecruit .contact-us {
  background-image: url("../img/bg-2.jpg");
}
#SchoolRecruit .icon {
  position: relative;
}
#SchoolRecruit .icon:after {
  content: "";
  position: absolute;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
  background-size: 40px 100px;
}
@-webkit-keyframes arrow-falsh {
  from {
    opacity: 0.1;
  }
  5% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}
@keyframes arrow-falsh {
  from {
    opacity: 0.1;
  }
  5% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.1;
  }
  15% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}
#SchoolRecruit .arrow-indicator {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  color: white;
}
#SchoolRecruit .arrow-indicator::before,
#SchoolRecruit .arrow-indicator::after {
  content: "";
  position: absolute;
  top: -0.75em;
  width: 1.5em;
  height: 1.5em;
  border-color: currentColor;
  border-style: solid;
}
#SchoolRecruit .arrow-indicator::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 1.5em;
  border-width: 0 0 2px 2px;
}
#SchoolRecruit .arrow-indicator::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 1.5em;
  border-width: 0 2px 2px 0;
}
#SchoolRecruit .arrow-indicator.flash {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: arrow-falsh 2s forwards infinite;
          animation: arrow-falsh 2s forwards infinite;
}
#SchoolRecruit .big-title {
  padding-top: 20px;
  font-size: 19px;
  color: #fff;
  text-align: center;
}
#SchoolRecruit .home-page .index-title {
  position: absolute;
  top: 7vh;
  left: 50%;
  width: 286px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-filter: drop-shadow(-1px -1px #ffcc00);
          filter: drop-shadow(-1px -1px #ffcc00);
}
#SchoolRecruit .home-page .recruit-btn {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 38vh;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  padding: 0.4em 1.5em;
  background-color: #dd3529;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #e04a3f), color-stop(10%, #cc2c20));
  background-image: -webkit-linear-gradient(#e04a3f 10%, #cc2c20);
  background-image: linear-gradient(#e04a3f 10%, #cc2c20);
  border: 1px solid #cc2c20;
  border-bottom-color: #dd3529;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: white;
  z-index: 999;
}
#SchoolRecruit .home-page .hat {
  position: absolute;
  top: 6vh;
  right: 4vw;
  width: 71px;
  height: 50px;
  background-image: url("../img/hat.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .home-page .boy {
  position: absolute;
  bottom: 80px;
  left: 54vw;
  z-index: 1;
  width: 100px;
  height: 204px;
  background-image: url("../img/boy.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .home-page .girl {
  position: absolute;
  bottom: 60px;
  z-index: 1;
  left: 20vw;
  width: 97px;
  height: 220px;
  background-image: url("../img/girl.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .home-page .grassland {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 142px;
  background-image: url("../img/grassland.png");
  background-repeat: no-repeat;
  background-size: 100vw 142px;
}
#SchoolRecruit .home-page .school {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 154px;
  background-image: url("../img/school.png");
  background-repeat: no-repeat;
  background-size: 100vw 154px;
}
#SchoolRecruit .group-info .floor-base {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100vw;
  height: 36px;
  background-image: url("../img/floor-base.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .group-info .building1 {
  position: absolute;
  bottom: 4px;
  left: 15px;
  width: 60px;
  height: 75px;
  background-image: url("../img/building1.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .group-info .building2 {
  position: absolute;
  bottom: 4px;
  right: 10px;
  width: 85px;
  height: 71px;
  background-image: url("../img/building2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .group-info .rider {
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 40px;
  height: 40px;
  background-image: url("../img/rider.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .group-info .turntable {
  position: relative;
  width: 217px;
  height: 210px;
  margin: 5vh auto;
  background-image: url("../img/test.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .group-info .zichan,
#SchoolRecruit .group-info .touzi,
#SchoolRecruit .group-info .yatai {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .group-info .zichan {
  width: 47px;
  height: 47px;
  bottom: 5px;
  left: 126px;
}
#SchoolRecruit .group-info .touzi {
  top: 6px;
  left: 132px;
  width: 53px;
  height: 53px;
}
#SchoolRecruit .group-info .yatai {
  width: 44px;
  height: 44px;
  top: 62px;
  left: 4px;
}
#SchoolRecruit .group-info .honor-pic {
  margin-bottom: 25px;
  width: 100vw;
  height: 199px;
  background-image: url("../img/honor.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .group-info .honor-ul {
  position: relative;
  width: 70%;
  margin-left: 18%;
  padding: 0 12px;
  color: #fff;
}
#SchoolRecruit .group-info .honor-ul:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  height: 170px;
  border-left: 1px dotted #fff;
}
#SchoolRecruit .group-info .honor-li {
  margin-bottom: 6px;
}
#SchoolRecruit .group-info .years {
  position: relative;
  font-size: 13px;
}
#SchoolRecruit .group-info .years:after {
  content: "";
  position: absolute;
  top: 4px;
  left: -15px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
}
#SchoolRecruit .group-info .event {
  position: relative;
  padding: 0 10px;
  font-size: 12px;
  line-height: 18px;
  *zoom: 1;
}
#SchoolRecruit .group-info .event:before,
#SchoolRecruit .group-info .event:after {
  content: " ";
  display: table;
  line-height: 0;
}
#SchoolRecruit .group-info .event:after {
  clear: both;
}
#SchoolRecruit .group-info .event:after {
  position: absolute;
  top: 8px;
  left: 2px;
  content: "-";
  color: #fff;
}
#SchoolRecruit .group-info .group-introduction {
  padding: 6px 40px;
  font-size: 12px;
  color: #fff;
  text-indent: 2em;
}
#SchoolRecruit .group-info .growth-process {
  position: relative;
  margin: 8vh auto;
  width: 238px;
  height: 368px;
  background-image: url("../img/growing-line.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .group-info .growth-pic,
#SchoolRecruit .group-info .growth-txt {
  position: absolute;
}
#SchoolRecruit .group-info .growth-pic {
  top: -28px;
  left: -60px;
  width: 58px;
  height: 58px;
  background-image: url("../img/growth-pic.png");
  background-repeat: no-repeat;
  background-size: 58px 339px;
}
#SchoolRecruit .group-info .growth-txt {
  width: 100px;
  top: -12px;
  left: 12px;
  color: #ffffff;
}
#SchoolRecruit .group-info .key-node {
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}
#SchoolRecruit .group-info .key-node.in {
  opacity: 1;
}
#SchoolRecruit .group-info .three {
  bottom: -3px;
  left: 93px;
}
#SchoolRecruit .group-info .three .growth-pic {
  background-position: 0 -283px;
}
#SchoolRecruit .group-info .eight {
  top: 286px;
  left: 100px;
}
#SchoolRecruit .group-info .eight .growth-pic {
  background-position: 0 -225px;
}
#SchoolRecruit .group-info .ten {
  top: 220px;
  left: 174px;
}
#SchoolRecruit .group-info .ten .growth-pic {
  background-position: 0 -169px;
}
#SchoolRecruit .group-info .twelve {
  top: 138px;
  left: 60px;
}
#SchoolRecruit .group-info .twelve .growth-pic {
  background-position: 0 -112px;
}
#SchoolRecruit .group-info .fourteen {
  top: 77px;
  left: 133px;
}
#SchoolRecruit .group-info .fourteen .growth-pic {
  background-position: 0 -56px;
}
#SchoolRecruit .group-info .sixteen {
  top: -4px;
  left: 110px;
}
#SchoolRecruit .group-info .sixteen .growth-pic {
  background-position: 0 0;
}
#SchoolRecruit .group-info .growth-years {
  line-height: 18px;
  font-size: 12px;
}
#SchoolRecruit .group-info .growth-events {
  font-size: 11px;
}
#SchoolRecruit .industry-status {
  color: #fff;
}
#SchoolRecruit .industry-status .status-head {
  position: relative;
  margin: 20px 0;
  width: 350px;
  height: 190px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0.8);
          transform: translateX(-50%) scale(0.8);
  background-image: url("../img/status-head.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 360px) {
  #SchoolRecruit .industry-status .status-head {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}
#SchoolRecruit .industry-status .status-building {
  position: absolute;
  top: 18px;
  left: 26%;
  width: 126px;
  height: 120px;
  background-image: url("../img/status-building.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .industry-status .status-technology,
#SchoolRecruit .industry-status .status-culture,
#SchoolRecruit .industry-status .status-manage {
  position: absolute;
  width: 67px;
  height: 67px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #f2faf9;
}
#SchoolRecruit .industry-status .status-technology:before,
#SchoolRecruit .industry-status .status-culture:before,
#SchoolRecruit .industry-status .status-manage:before {
  position: absolute;
  left: 50%;
  top: 12px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  height: 25px;
  width: 25px;
  background-image: url("../img/status-sprite.png");
  background-repeat: no-repeat;
  background-size: 77.5px 25px;
}
#SchoolRecruit .industry-status .status-technology:after,
#SchoolRecruit .industry-status .status-culture:after,
#SchoolRecruit .industry-status .status-manage:after {
  position: absolute;
  bottom: 8px;
  content: "";
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #009f8a;
}
#SchoolRecruit .industry-status .status-technology {
  top: 80px;
  left: 10px;
}
#SchoolRecruit .industry-status .status-technology:before {
  background-position: 0 0;
}
#SchoolRecruit .industry-status .status-technology:after {
  content: "技术";
}
#SchoolRecruit .industry-status .status-culture {
  top: 110px;
  right: 66px;
}
#SchoolRecruit .industry-status .status-culture:before {
  background-position: -26px 0;
}
#SchoolRecruit .industry-status .status-culture:after {
  content: "文化";
}
#SchoolRecruit .industry-status .status-manage {
  top: 40px;
  right: 10px;
}
#SchoolRecruit .industry-status .status-manage:before {
  background-position: -52px 0;
}
#SchoolRecruit .industry-status .status-manage:after {
  content: "管理";
}
#SchoolRecruit .industry-status .status-main {
  padding-left: 30px;
  padding-right: 30px;
}
#SchoolRecruit .industry-status .status-subtitle {
  line-height: 15px;
  padding: 0 6px;
  margin-bottom: 5px;
  font-size: 15px;
  border-left: 2px solid #fff;
}
#SchoolRecruit .industry-status .status-info {
  font-size: 12px;
}
#SchoolRecruit .industry-status .status-info:not(:last-child) {
  border-bottom: 1px dotted #a8d9cc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#SchoolRecruit .industry-status .focus {
  font-size: 13px;
  font-weight: bold;
  color: #ffcc00;
}
#SchoolRecruit .pay-welfare {
  color: #fff;
}
#SchoolRecruit .pay-welfare .welfare-subtitle {
  margin: 13px auto;
  font-size: 14px;
  text-align: center;
}
#SchoolRecruit .pay-welfare .short-line {
  margin: 0 auto 47px;
  width: 25%;
  height: 2px;
  background-color: #fff;
}
#SchoolRecruit .pay-welfare .human-avater {
  margin: 0 auto;
  width: 151px;
  height: 151px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-image: url("../img/human-avater.png");
  background-repeat: no-repeat;
  background-size: 151px 455px;
}
#SchoolRecruit .pay-welfare .avater-qiu {
  background-position: 0 -302px;
}
#SchoolRecruit .pay-welfare .avater-yang {
  background-position: 0 -151px;
}
#SchoolRecruit .pay-welfare .avater-lai {
  background-position: 0 0;
}
#SchoolRecruit .pay-welfare .human-name {
  margin: 17px auto 9px;
  text-align: center;
  font-size: 24px;
}
#SchoolRecruit .pay-welfare .job-title-entry-time {
  margin-bottom: 30px;
  text-align: center;
  font-size: 13px;
}
#SchoolRecruit .pay-welfare .personal-monologue {
  margin: 0 auto;
  width: 87%;
  padding-bottom: 4px;
  text-indent: 2em;
  line-height: 20px;
  font-size: 12px;
}
#SchoolRecruit .recruit-job {
  background-color: white;
}
#SchoolRecruit .recruit-job .job-head {
  height: 174px;
  background-image: url("../img/job-info-head.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
#SchoolRecruit .recruit-job .aircraft {
  position: absolute;
  top: 56px;
  left: -40%;
  width: 160px;
  height: 38px;
  background-image: url("../img/aircraft.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .recruit-job .person1 {
  position: absolute;
  top: 106px;
  left: 136px;
  width: 16px;
  height: 50px;
  background-image: url("../img/person.png");
  background-repeat: no-repeat;
  background-size: 69px 48px;
  background-position: 0;
}
#SchoolRecruit .recruit-job .person2 {
  position: absolute;
  top: 122px;
  left: 260px;
  width: 17px;
  height: 48px;
  background-image: url("../img/person.png");
  background-repeat: no-repeat;
  background-size: 69px 48px;
  background-position: -44px 0;
}
#SchoolRecruit .recruit-job .person3 {
  position: absolute;
  top: 90px;
  left: 212px;
  width: 26px;
  height: 49px;
  background-image: url("../img/person.png");
  background-repeat: no-repeat;
  background-size: 69px 48px;
  background-position: -17px 0;
}
#SchoolRecruit .recruit-job .sell-er {
  width: 49%;
  float: left;
  text-align: center;
}
#SchoolRecruit .recruit-job .job-type-box {
  *zoom: 1;
}
#SchoolRecruit .recruit-job .job-type-box:before,
#SchoolRecruit .recruit-job .job-type-box:after {
  content: " ";
  display: table;
  line-height: 0;
}
#SchoolRecruit .recruit-job .job-type-box:after {
  clear: both;
}
#SchoolRecruit .recruit-job .job-avatar {
  margin: 38px auto 20px;
  height: 90px;
  width: 90px;
  background-image: url("../img/job-type.png");
  background-repeat: no-repeat;
  background-size: 360px 90px;
}
#SchoolRecruit .recruit-job .avatar-seller {
  background-position: 0 0;
}
#SchoolRecruit .recruit-job .job-name {
  margin-bottom: 20px;
  font-size: 13px;
  color: #323232;
}
#SchoolRecruit .recruit-job .job-detail {
  background-color: #ebebeb;
}
#SchoolRecruit .recruit-job .position-overview {
  height: 160px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}
#SchoolRecruit .recruit-job .sell-er-bg {
  background-image: url("../img/sell-bg.jpg");
}
#SchoolRecruit .recruit-job .summary {
  margin-top: 10px;
  font-size: 13px;
  color: #fff;
  width: 50%;
  margin-left: 50%;
}
#SchoolRecruit .recruit-job .departments,
#SchoolRecruit .recruit-job .need-howmany,
#SchoolRecruit .recruit-job .work-place {
  line-height: 30px;
}
#SchoolRecruit .recruit-job .position-duties,
#SchoolRecruit .recruit-job .position-requirements {
  margin: 1.2em;
  background-color: #fff;
}
#SchoolRecruit .recruit-job .position-subtitle {
  line-height: 30px;
  font-size: 14px;
  color: #323232;
}
#SchoolRecruit .recruit-job .icon-dep:after {
  top: 6px;
  left: -25px;
  width: 16px;
  height: 16px;
  background-position: -20px 0;
}
#SchoolRecruit .recruit-job .icon-hownmany:after {
  top: 6px;
  left: -25px;
  width: 16px;
  height: 16px;
  background-position: -20px -20px;
}
#SchoolRecruit .recruit-job .icon-place:after {
  top: 6px;
  left: -25px;
  width: 16px;
  height: 18px;
  background-position: -20px -40px;
}
#SchoolRecruit .recruit-job .icon-duty {
  padding-left: 20px;
}
#SchoolRecruit .recruit-job .icon-duty:after {
  top: 6px;
  left: 0;
  width: 15px;
  height: 16px;
  background-position: -20px -60px;
}
#SchoolRecruit .recruit-job .icon-require {
  padding-left: 20px;
}
#SchoolRecruit .recruit-job .icon-require:after {
  top: 6px;
  left: 0;
  width: 16px;
  height: 16px;
  background-position: -16px -80px;
}
#SchoolRecruit .recruit-job .row {
  *zoom: 1;
  line-height: 20px;
  font-size: 12px;
  color: #787878;
}
#SchoolRecruit .recruit-job .row:before,
#SchoolRecruit .recruit-job .row:after {
  content: " ";
  display: table;
  line-height: 0;
}
#SchoolRecruit .recruit-job .row:after {
  clear: both;
}
#SchoolRecruit .recruit-job .row-number,
#SchoolRecruit .recruit-job .row-txt {
  float: left;
}
#SchoolRecruit .recruit-job .row-number {
  width: 4%;
}
#SchoolRecruit .recruit-job .row-txt {
  width: 96%;
}
#SchoolRecruit .contact-us .contact-ul {
  padding: 35px 0 0;
}
#SchoolRecruit .contact-us .contact-li {
  margin-bottom: 24px;
  text-align: center;
  color: #fff;
}
#SchoolRecruit .contact-us .contact-key {
  margin: 0 auto;
  width: 100px;
  line-height: 24px;
  font-size: 16px;
}
#SchoolRecruit .contact-us .contact-value {
  color: #fff !important;
  font-size: 15px;
}
#SchoolRecruit .contact-us .icon-email:after {
  top: 4px;
  left: -5px;
  width: 18px;
  height: 18px;
  background-position: 0 0;
}
#SchoolRecruit .contact-us .icon-tel:after {
  top: 1px;
  left: -5px;
  width: 20px;
  height: 20px;
  background-position: 0 -20px;
}
#SchoolRecruit .contact-us .icon-address:after {
  top: 2px;
  left: -5px;
  width: 16px;
  height: 16px;
  background-position: 0 -40px;
}
#SchoolRecruit .contact-us .more-info,
#SchoolRecruit .contact-us .please-attention {
  text-align: center;
}
#SchoolRecruit .contact-us .wechat-img {
  position: relative;
  width: 271px;
  height: 235px;
  margin: 0 auto;
}
#SchoolRecruit .contact-us .clound1 {
  position: absolute;
  top: 90px;
  left: -20px;
  width: 157px;
  height: 104px;
  background-image: url("../img/clound.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .contact-us .clound2 {
  position: absolute;
  top: 97px;
  right: -18px;
  width: 160px;
  height: 88px;
  background-image: url("../img/clound.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#SchoolRecruit .contact-us .fireworks {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 37px;
  height: 37px;
  background-image: url("../img/fireworks.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
@-webkit-keyframes sliderDownFlash {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sliderDownFlash {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*向下翻页主按钮*/
.swiper-button-next {
  position: absolute;
  top: 100%;
  right: auto;
  left: 50%;
  background-image: none;
  background-color: transparent;
  -webkit-transform: translate3d(-50%, -80%, 0);
          transform: translate3d(-50%, -80%, 0);
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.swiper-button-next > .inner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-style: solid;
  color: #ffcc00;
  border-color: transparent transparent currentColor currentColor;
  border-width: 2px;
  -webkit-transform: translate3d(-50%, 0, 0) rotate(-45deg);
          transform: translate3d(-50%, 0, 0) rotate(-45deg);
}
.swiper-button-next > .inner:nth-child(1) {
  top: 0;
}
.swiper-button-next > .inner:nth-child(2) {
  top: 16%;
}
.swiper-button-next > .inner:nth-child(3) {
  top: 32%;
}
.swiper-button-next > .inner.animate {
  display: block;
  -webkit-animation: sliderDownFlash 1.5s infinite;
          animation: sliderDownFlash 1.5s infinite;
}
.swiper-button-next > .inner.animate:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.swiper-button-next > .inner.animate:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.swiper-button-back {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 14px;
  height: 14px;
  color: white;
}
.swiper-button-back::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-width: 0 0 2px 2px;
  border-color: currentColor;
  border-style: solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
